@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');
body{
    font-family: 'Noto Sans Thai', sans-serif;
}
.container{
    min-height: 100vh;
}
.fa-pen-to-square, .fa-trash{
    cursor: pointer;
}
h1{
    color: black;
}
h2{
    color:rgb(from color r g b)
}
